.navbar-wrapper {
    display: flex;
    background-color: rgb(245, 245, 245);
    border-bottom: 1px solid lightgray;
    width: 100%;

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 20px;
    }

    .navlinks-wrapper {
        display: flex;
        align-items: center;

        a {
            margin-left: 20px;
        }

        .active {
            text-decoration: underline;
        }
    }
}